
@model PITP.Models.ChartViewModel

@{
    ViewBag.Title = "Costs";
}

        <div class="form-group">
            <label class="genh6 well">2018 Sponsors</label>
            <canvas id="DonutChart" width="400" height="150"></canvas>
        </div>