
/* Page Styles */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; 
  min-height:90%;
}

/*img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */ }*/

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

hr {
	border: none;
	border-bottom: 3px solid #f7f7f7;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
    

    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;

}

/* Custom Styles */

.splash {
	//background: url('../img/splash-bg3.png') center center;
	background: rgb(0,184,238);
	background-image: url("../img/2018/bi.png"); /* fallback */
	background-image: url("../img/2018/bi.png"), linear-gradient(45deg, rgb(0,184,238), rgb(5,71,152)); /* W3C */
	background-size: 81px, auto, cover;
	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-attachment: fixed;
	text-align: center;
	background-color: #ed1c24;
}

.splashbd, .bodyblue
{
	background-image: url("../img/2018/bi.png"); /* fallback */
	background-image: url("../img/2018/bi.png"), linear-gradient(45deg, rgb(0,184,238), rgb(5,71,152)); /* W3C */
	background-size: 81px, auto, cover;
}

.splash-title {
    font-family: 'Stardos Stencil', cursive;
	color: white;
	font-size: 5em;
	margin-top: 100px;
	text-shadow: 0 2px 10px #000;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

a.splash-arrow {
	color: white;
	font-size: 1.2em;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -25px;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a.splash-arrow:hover {
	text-decoration: none;
	bottom: 50px;
}

.sten .gl
{
    margin-bottom:.8em;
}


.agm1 p, .agm2 p {
		margin-top: 1em;
}

.bf2
{
	text-align:center;
	background-color:white;
	color:black;
}

@media all and (max-width: 480px) {
	.bf2
	{
		padding-left:15px;
		padding-right:15px;
	}
}

@media (min-width: 992px) {
	.bf2
	{
		margin-top: 50px;		
	}
}

@media all and (max-width: 690px) {
  header h1 { width: 100%; text-align: center; }
  header nav { float: none; display: inline-block; margin: 0 auto; }
  .splash-title {font-size: 2em;}
}


.agm1 img, .agm2 img
{
		position: fixed;
		left: 50%;
		top: 50%;
		padding-left:25%;
		padding-right:25%;
		webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);;
		transform: translate(-50%, -50%);
}

.agm2 img
{
	top: 7%;
	transform: translate(-50%, -7%);
}
 
 /* Extra small devices (phones, 440px and down) */
@media only screen and (max-width: 440px) {
	.agm1 img, .agm2 img
	{
		position: fixed;
		left: 50%;
		top: 50%;
		padding-left:1em;
		padding-right:1em;
		webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);;
		transform: translate(-50%, -50%);
	}
	
	.agm2 img {
		top: 28%;
		webkit-transform: translate(-50%, -28%);
		-moz-transform:    translate(-50%, -28%);
		-ms-transform:     translate(-50%, -28%);
		-o-transform:      translate(-50%, -28%);;
		transform: translate(-50%, -28%);
	}
	
	.splash {
		background-size: 33px, auto, cover;
	}
}

/* Small devices (portrait tablets and large phones, between 331px and 440px) */
@media only screen and (min-width:341px) and (max-width: 440px) {
	.agm1 img, .agm2 img
	{
		position: fixed;
		left: 50%;
		top: 50%;
		padding-left:10%;
		padding-right:10%;
		webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);;
		transform: translate(-50%, -50%);
	}
	
	.agm2 img {
		top: 21%;
		webkit-transform: translate(-50%, -21%);
		-moz-transform:    translate(-50%, -21%);
		-ms-transform:     translate(-50%, -21%);
		-o-transform:      translate(-50%, -21%);;
		transform: translate(-50%, -21%);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 441px) and (max-width: 600px) {

	.agm1 img, .agm2 img {
		position: fixed;
		left: 50%;
		top: 50%;
		padding-left:15%;
		padding-right:15%;
		webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);;
		transform: translate(-50%, -50%);
	}

	.agm2 img {
		top: 22%;
		webkit-transform: translate(-50%, -22%);
		-moz-transform:    translate(-50%, -22%);
		-ms-transform:     translate(-50%, -22%);
		-o-transform:      translate(-50%, -22%);;
		transform: translate(-50%, -22%);
	}
	
	.splash {
		background-size: 44px, auto, cover;
	}
}

@media only screen and (min-width: 601px) and (max-width: 969px) {
	.agm1 img, .agm2 img {
		position: fixed;
		left: 50%;
		top: 50%;
		padding-left:30%;
		padding-right:30%;
		webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);;
		transform: translate(-50%, -50%);
	}

	.agm2 img {
		top: 22%;
		webkit-transform: translate(-50%, -7%);
		-moz-transform:    translate(-50%, -7%);
		-ms-transform:     translate(-50%, -7%);
		-o-transform:      translate(-50%, -7%);;
		transform: translate(-50%, -7%);
	}
}

@media only screen and (min-width: 970px) {
	.agm1 img, .agm2 img {
		position: fixed;
		left: 50%;
		top: 50%;
		padding-left:30%;
		padding-right:30%;
		webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);;
		transform: translate(-50%, -50%);
	}

	.agm2 img {
		top: 7%;
		padding-left:25%;
		padding-right:25%;
		webkit-transform: translate(-50%, -7%);
		-moz-transform:    translate(-50%, -7%);
		-ms-transform:     translate(-50%, -7%);
		-o-transform:      translate(-50%, -7%);;
		transform: translate(-50%, -7%);
	}
}

@font-face {
    font-family: 'lintsecregular';
    src: url('/fonts/lintsec-webfont.woff2') format('woff2'),
         url('/fonts/lintsec-webfont.woff') format('woff'),
         url('/fonts/lintsec-webfont.ttf') format('truetype'),
         url('/fonts/lintsec-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sten, .stensmall, .stenwhite, .stenwhitesm {
    font-family:'lintsecregular';
    text-transform: uppercase; 
    font-size:3rem
    color:#222;
    line-height: 108%;
}

.sten .bl, .sten .bl2, .stensmall .bl  {
    color: #ED1C24;
}

.stensmall .yell, .sten .yell, .stenwhite .yell
{
    color:#FFF200;
}

.stenwhite, .stenwhitesm {
	color:#fff;
}

.stensmall, .stenwhitesm {
    font-size:2rem;
}

.intro-block6, .intro-block10
{
    background-color:#FFF200;
}

.padded
{
	padding-top:2em;
	padding-bottom:2em;
}

#music{
      -webkit-animation-delay:.5s;
    animation-delay: .5s;
     -webkit-animation-duration:1s;     
     animation-duration: 1s;
}

#rd
{
    -webkit-animation-delay:1s;
    animation-delay: 1s;
    -webkit-animation-duration:1s;
    animation-duration: 1s;
}

#ass{
     -webkit-animation-delay:1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration:1s;
    animation-duration: 1s;
}

#ref {
   -webkit-animation-delay: 2s;
    animation-delay: 2s;
  -webkit-animation-duration:1s;
  animation-duration: 1s;
}

#bm{
     -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-duration:1s;
    animation-duration: 1s;
}

#agmgl
{
     -webkit-animation-delay:3s;
    animation-delay: 3s;
    -webkit-animation-duration:1s;
    animation-duration: 1s;
}

.sh a:hover, .sh a:active, .sh a:visited, .indlink a:hover, .indlink a:active, .indlink a:hover
{
    color:#222;
}


.indlink a:link, .lead a:link {
    color: red;
    text-decoration:underline;
    font-weight:bold;
    .
}

/* visited link */
.indlink a:visited, .lead a:visited {
    color: red;
    text-decoration:underline;
    font-weight:bold;
    
}

/* mouse over link */
.indlink a:hover, .lead a:hover {
    color: red;
    text-decoration:underline;
    font-weight:bold;    
}

/* selected link */
.indlink a:active, .lead a:active {
    color: red;
    text-decoration:underline;
    font-weight:bold;
    
}

.lead a:link, .lead a:visited, .lead a:hover, .lead a:active {
    color:#FFF200;
}

.nfit, .nfit2 {
     background-image: url('../img/agm/IMG_8832.jpg'); 	
    background-repeat:no-repeat;
    background-size:100%;
}

.nfit2 {
    background-image: url('../img/band2.png');
}

.nfit a, .nfit a:active, .nfit a:hover, .nfit a:focus, nfit a:visited
{
	text-decoration:underline;
	color:#FFF200;
	font-weight: bold;
}

.nointro {

    /*background-color: #FFF200;
    margin-top: 70px;
    opacity: 0.9;*/
   background: -moz-linear-gradient(top, rgba(255,242,0,0.01) 0%, rgba(255,242,0,0.01) 1%, rgba(255,242,0,1) 24%, rgba(255,242,0,1) 58%);
    background: -webkit-linear-gradient(top, rgba(255,242,0,0.01) 0%,rgba(255,242,0,0.01) 1%,rgba(255,242,0,1) 24%,rgba(255,242,0,1) 58%);
    background: linear-gradient(to bottom, rgba(255,242,0,0.01) 0%,rgba(255,242,0,0.01) 1%,rgba(255,242,0,1) 24%,rgba(255,242,0,1) 58%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03fff200', endColorstr='#fff200',GradientType=0 );
	/* background: linear-gradient(45deg, rgb(0,184,238), rgb(5,71,152)); */
	
}

.blcol
{
	background-color: #036bb6;
	color:white;
}


.divup
{
	background-color: #d9d9d0;
	padding-top: 5em;
	margin-top: -4em;
}

#hointrohead{
    margin-top:70px;
}

.intro-block7, .image-block8 {
    padding-top:2em;
    background-color: #ED1C24;
}

.image-block8 {
    padding-top:0px;
    margin-top:0px;
}


/* styles for home page after splash - tablet and mobile & lower */
@media only screen and (max-width: 767px) {
	.spashbd, .nfit, .nfit2 {
		background-color: #036bb6;
		background-image:none;
	}
	.blcol{
		padding-bottom: 1em;
	}
	#hointrohead
	{
		margin-top: 1em;
	}
	.divup
	{
		margin-top:0px;
	}
}

/*------------------------------------------------------------------*/

.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
/*.gal-item .box{
	height: 350px;
	overflow: hidden;
}*/
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.gal-container{
    padding-top :30px;
    /*padding-bottom:75px;*/
}

.financials
{
    height:400px;
    background-image: url('../img/agm/finan.jpg');
    background-repeat:no-repeat;
    background-size:100%;
}

.finan-yell
{
    padding-top:80px;
    /*height:50px;*/

    background: -moz-linear-gradient(top, rgba(255,242,0,0.02) 0%, rgba(237,28,36,0.09) 8%, rgba(237,28,36,0.87) 100%);
background: -webkit-linear-gradient(top, rgba(255,242,0,0.02) 0%,rgba(237,28,36,0.09) 8%,rgba(237,28,36,0.87) 100%);
background: linear-gradient(to bottom, rgba(255,242,0,0.02) 0%,rgba(237,28,36,0.09) 8%,rgba(237,28,36,0.87) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05fff200', endColorstr='#deed1c24',GradientType=0 );

    background-color: rgba(100%, 0, 0, 0.5);

    position: relative;
  	top: 100%;
  	transform: translateY(-100%); 
}


.bigt p
{
    font-size:1.2em;
    margin-bottom:1em;
    line-height:115%;
}
.intro-block9
{
    padding:0px;
     padding-top:2em;
     padding-left:2em;
}

.tabbal .table{
    margin-top:3em;
}

.tabbal .table > thead > tr {
  background-color: #222222;
}

.tabbal .table-striped > tbody > tr:nth-child(odd) > td {
  background-color:#ED1C24;
  font-weight:bold;
}

.tabbal .table-striped > tbody > tr:nth-child(even) > td {
  background-color: #FFF200;
  color:#222222;
  font-weight:bold;
}

.tabbalwh > tbody > tr:nth-child(odd) > td {
  background-color: #ffffff;
   color:#222222;
   font-weight:bold;
}

.org  {
  background-color: #222222;
  color:#FFF200;
  font-family:'lintsecregular';
  text-transform: uppercase; 
  font-size:2rem;
  margin-left:-15px;
  padding:.5em
}

.mb
{
    margin-bottom:1em;
    margin-top:1em;
}

