
/* Page Styles */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; 
  min-height:90%;
}

/*img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */ }*/

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

hr {
	border: none;
	border-bottom: 3px solid #f7f7f7;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
    

    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;

}

/* Custom Styles */

.splash {
	background: url('../img/splash-bg3.png') center center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.splash-title {
    font-family: 'Stardos Stencil', cursive;
	color: white;
	font-size: 5em;
	margin-top: 100px;
	text-shadow: 0 2px 10px #000;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

a.splash-arrow {
	color: white;
	font-size: 1.2em;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -25px;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a.splash-arrow:hover {
	text-decoration: none;
	bottom: 50px;
}

@media all and (max-width: 690px) {
  header h1 { width: 100%; text-align: center; }
  header nav { float: none; display: inline-block; margin: 0 auto; }
  .splash-title {font-size: 2em;}
}

@media all and (max-width: 480px) {
	.splash-title {font-size: 1.5em;}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .agm1, .agm2 {
        margin-top:4em;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px)
{
    .agm1, .agm2 {
        margin-top:2em;
    }
    .agm2 {
         margin-top:3em
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)
{
    .agm1, .agm2 {
        margin-top:2em;
    }
    .agm2 {
         margin-top:3em
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px)
{
    .agm1, .agm2 {
        margin-top:2em;
    }
    .agm2 {
         margin-top:3em
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)
{
    .agm1, .agm2 {
        margin-top:2em;
    }
    .agm2 {
         margin-top:3em
    }
}

@font-face {
    font-family: 'lintsecregular';
    src: url('../fonts/lintsec-webfont.woff2') format('woff2'),
         url('../fonts/lintsec-webfont.woff') format('woff'),
         url('../fonts/lintsec-webfont.ttf') format('truetype'),
         url('../fonts/lintsec-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sten, .stensmall {
    font-family:'lintsecregular';
    text-transform: uppercase; 
    font-size:3rem;
    color:#222;
    line-height: 108%;
    margin-top:1em;
}

.sten .bl, .sten .bl2, .stensmall .bl {
    color: #ED1C24;
}

.stensmall {
    font-size:2rem;
}

.intro-block6
{
    background-color:#FFF200;
}
