body {
    background-color:#FFF200;
    margin-top:70px;
}


/*#hlogo {
    padding-top:12px;
}*/

.navbar-inverse
        {
            background-color:#222222;
            border-color: #222222;
        }

.intro-block, .intro-block2, .intro-block3, .intro-block4, .intro-block5  {
    /*background: url(../images/purpalt.png) repeat;*/
    background-color: #ED1C24;
    padding: 100px 15px 60px;
    color: #fff;
}

.intro-block2, .intro-block5 {
    margin-top:-70px;
    padding-bottom:30px;
}
.intro-block3 {
    background-color:#ED1C24;
}

.intro-block5 {
        background-color:#222;
}


.spon {
    background-color: #ED1C24;
}

.carousel-caption{
    z-index: 10;
}

.carousel-caption h1 {
    font-size:5em;
    }
.carousel-inner > .item > img{
    position: absolute;
    /*top: 50px;
    left: 0;*/
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 500px;   
}
#logtop {
    margin-bottom:2em;
    background: url(../img/back-yellow.png) repeat;
}

#logtop .img-responsive {
    margin: 0 auto;
}

@media (min-width: 992px) {

    #logtop .img-responsive {
        margin-right:50%;
    }    
}

#hmsects {
    margin-top:2em;
}

.tpad {
    padding-top: 20px;
}

.map {
    height: 350px;
    width: 100%;
}


@media(min-width: 768px){
.carousel-inner > .item{
    height: 700px;   
}
.map {
    height: 500px;
}
    
}

hr.style-one { border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); background-image: -o-linear-gradient(left, #ccc, #333, #ccc); }

.qback, .qback2{
    color:#222222;
    font-weight:bold;
}

.qback2{
    color:#fff;
    font-size:smaller;
}


.batop {
    padding-top:3em;
}

.headtag {
    color:#222222;
}

.text-muted {
    color:#222222;
}

.tabup {
    margin-top:2em;
    font-weight:bold;
    margin-bottom:8em;
}

.info {
    background: url('../img/skyline.png') repeat-x scroll center bottom #FFA753;
    padding: 20px 0px 20px 0px;
}

.bands, .bands2 {
    background: url('../img/skyline.png') repeat-x scroll center bottom #FFA753;
    padding: 20px 0px 40px 0px;
}

.bands2 {
    background-image:none;
    margin-bottom:2em;
}

.panel-default > .panel-heading  {
    background-color:#222222;
    color:white;
}

.spon a {
    text-decoration: none;
    
}

.spon A:link {text-decoration: none;}
.spon A:visited {text-decoration: none;}
.spon A:active { text-decoration: none;}
.spon A:hover { text-decoration: none; }

.wd a:hover {
    color: #ffffff;
}

.wd a:link  {
    color: #222222;
}

.intro-block4
{
    margin-top:-100px;

}

.intro-block4 h1{
    font-size:2em;
}
.intro-block4 ul {
    margin-left:-2em;
        list-style-type: none;
        font-weight: bold;
    }

/*.intro-block4 h1 {
     margin-left:-3em;
    }

.intro-block4 .qback{
    font-size:.75em;
}*/

.btp {
    margin-left:1em;
    font-style:italic;
}

.orgcar {
    margin: 5em 0 5em 0;
    border:2px solid black;
}

.bodywhite {
    background-color:#eeefe9;
    margin-top:51px;
}

.bgFullScreen
{
    margin-top:-2em;
}

.navbar-nav > li > a.py {
    padding-top:2px;
    padding-bottom:6px;
     max-width: 100px;
    text-align:center;
    padding-top:2px;
    padding-bottom:6px;
}

/*.py{    
    max-width: 100px;
    text-align:center;
    padding-top:2px;
    padding-bottom:6px;
}*/

.pyu{
    margin-top:35px;
}

