body {
    background-color:#FFF200;
}

.navbar-inverse
        {
            background-color:#222222;
            border-color: #222222;
        }

.intro-block, .intro-block2, .intro-block3, .intro-block4, .intro-block5 {
    background-color: #ED1C24;
    padding: 100px 15px 60px;
    color: #fff;
}

.intro-block2, .intro-block5, .intro-block6, .intro-block4  {
    /*margin-top:-70px;*/
    padding-bottom:30px;
}
.intro-block3 {
    background-color:#ED1C24;
}

.intro-block5 {
        background-color:#fff;
}
.intro-block5 h1, .intro-block5 h5 {
    color:#ed1c24;
}

.intro-block5 p, ol, h4
{
    color:#222222;
}

.intro-block5 ol
{
    margin-left:-1.5em;
}

.spon {
    background-color: #ED1C24;
}

.carousel-caption{
    z-index: 10;
}

.carousel-caption h1 {
    font-size:5em;
    }
.carousel-inner > .item > img{
    position: absolute;
    /*top: 50px;
    left: 0;*/
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 500px;   
}
#logtop {
    margin-bottom:2em;
    background: url(../img/back-yellow.png) repeat;
}

#logtop .img-responsive {
    margin: 0 auto;
}

@media (min-width: 992px) {

    #logtop .img-responsive {
        margin-right:50%;
    }    
}

#hmsects {
    margin-top:2em;
}

.tpad {
    padding-top: 20px;
}

.map {
    height: 350px;
    width: 100%;
}


@media(min-width: 768px){
.carousel-inner > .item{
    height: 700px;   
}
.map {
    height: 500px;
}
    
}

hr.style-one { border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); background-image: -o-linear-gradient(left, #ccc, #333, #ccc); }

.qback, .qback2{
    color:#222222;
    font-weight:bold;
}

.qback2{
    color:#fff;
    font-size:smaller;
}


.batop {
    padding-top: 3em;
    padding-bottom: 1em;
}

.headtag {
    color:#222222;
}

.text-muted {
    color:#222222;
}

.tabup {
    margin-top:2em;
    font-weight:bold;
    margin-bottom:8em;
}

.info {
    background: url('../img/skyline.png') repeat-x scroll center bottom #FFA753;
    padding: 20px 0px 20px 0px;
}

.bands, .bands2 {
    background: url('../img/skyline.png') repeat-x scroll center bottom #FFA753;
    padding: 20px 0px 40px 0px;
}

.bands2 {
    background-image:none;
    margin-bottom:2em;
}

.panel-default > .panel-heading  {
    background-color:#222222;
    color:white;
}

.spon a {
    text-decoration: none;
    
}

.spon A:link {text-decoration: none;}
.spon A:visited {text-decoration: none;}
.spon A:active { text-decoration: none;}
.spon A:hover { text-decoration: none; }

.wd a:hover {
    color: #ffffff;
}

.wd a:link  {
    color: #222222;
}

.btp {
    margin-left:1em;
    font-style:italic;
}

.orgcar {
    margin: 5em 0 5em 0;
    border:2px solid black;
}

.bodywhite, bodypw {
    background-color:#eeefe9;
}

.bodypw {
    background-color:#fff;
}

.bgFullScreen
{
    margin-top:-2em;
}


.pyu{
    margin-top:35px;
}

.borback{
    border:.px;
    border-color:#333333;
    border-style:solid;
}

@media(max-width: 716px) {
    .navbar-nav > li > a.py {
        max-width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 21px;
    }
}

.navbar-collapse.collapse {
        text-align: center; /* Set this */
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
}

.navbar-nav {
    display:inline-block;
    float: none;
    margin-bottom:-5px;
}

@media (min-width: 961px)
{
    .navbar-nav > li > a.py {
        padding-top:2px;
        padding-bottom:6px;
         max-width: 100px;
        text-align:center;
        padding-top:2px;
        padding-bottom:6px;
    }
}


@media (max-width: 960px) {

    .navbar {
        position: relative;
        background-color: #222222;
        margin-left: auto;
        margin-right: auto;
        /*width: 960px;*/
        margin-bottom: 0px;
        
    }

    .nav-container {
        left: 0px;
        right: 0px;
        top: 0px;
        /*width: 100%;*/
        background-color: black;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
        display:block;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}


.navbar-brand {
    background-image: url(../img/header-logo.png);
    width: 200px;
    background-repeat: no-repeat;
    background-position: 0px 12px;
    margin-left: 15px;
}


@media (min-width: 961px) and (max-width: 1036px) {
    .navbar-brand {
        background-image:url(../img/specs.png);
        width: 96px;
        background-position: 0px -2px;
    }
}

.navbar-nav > li > .dropdown-menu {
    text-align:left;
}

